.END_full_author_bio_lightbox {
  background: #ececec;
}
.END_full_author_bio_lightbox > h1 {
  padding: 25px 30px 15px;
  margin: 0;
  background: none;
  border: 0;
  border-bottom: 1px solid #e4e4e4;
  text-transform: uppercase;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 22px;
  color: #474747;
}
.END_full_author_bio_lightbox .bio_container {
  width: 520px;
  border: 0;
  border-top: 1px solid #f4f4f4;
  padding: 20px 30px;
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 15px;
}
