html, body, body>form {
	height: 100%;
}

@include font-face('icons', '../fonts/jft');

[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}


.toolbar {
	height: 44px;
	background: #383838;
}

.navbar {
	height: 100px;
	background: #fff;
	width: 100%;
}

.header {
	background-color: #3498DB;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.toolbar {
	height: 44px;
	background: #383838;
}

.registerGroup ul {
	line-height: 44px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.registerGroup li {
	float: left;
}

.loginGroup {
	font-size: 13px;
	float: right;
	line-height: 44px;
}

.registerGroup a {
	float: left;
	padding: 0 10px;
	font-size: 13px;
}

.loginGroup a {
	padding: 0 10px;
 }

.registerGroup a:hover
.loginGroup a:hover {
	color: #fff;
 }


.header-slideshow {

}

.header-slideshow img {
	display: block;
	min-height: 100%;
	min-width: 100%;
}

.header-background {
	min-width: 100%;
	min-height: 100%;
	max-height: 120%;
	display: block;
	position: absolute;
}

.header-blurb {
	text-align: center;
	color: #fff;
	font-weight: 200;
	padding: 0 30px;
	position: absolute;
	width: 100%;
	bottom: 30px;
	font-size: 16px;
	z-index: 100;
}


.header-blurb h1 {
	margin: 0;
	font-weight: 200;
}

.header-blurb p {
	margin: 0 auto 20px auto;
	font-weight: 200;
	max-width: 480px;
}

.page-title {
	margin: 0;
	font-weight: 200;
	color: #fff;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 20px;
}

.navbar-inner {
	margin: 0 auto;
	max-width: 1280px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

.logo {
	max-height: 100%;
	float: left;
}

.logo img {
	display: block;
	max-height: 100%;
}


.menu>li {
	float: left;
	background: #fff;
	color: $color-alpha;
}
.menu>li>a {
	float: left;
	line-height: 100px;
	padding: 0 25px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: inherit;
	position: relative;
}
.menu .active,
.menu>li:hover {
	text-decoration: underline;
	color: darken($color-alpha, 20%);
}

.menu>li .subMenu {
	display: none;
	position: absolute;
	top: 100%;
}

.menu>li .subMenu ul {
	list-style: none;
	margin: 0;
	padding: 0 25px 25px 25px;
	background: #fff;
}
.menu>li .subMenu ul a {
	padding: 3px 0;
}

.menu>li:hover .subMenu {
	display: block;

}

.content {
	background: #fff;
}

.content-inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 30px;
}

.content-section {
	overflow: hidden;
}


.right-pane {
	float: right;
	width: 300px;
}

.right-pane {
	float: left;
	width: 300px;
}

.right-pane ~ .content-pane {
	margin-right: 330px;
}
.left-pane ~ .content-pane {
	margin-left: 330px;
}

.half-pane {
	width: 50%;
	float: left;
}

.footer {
	background: #f5f5f5;
	overflow: hidden;
}
.footer-inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 30px;
	list-style: none;
}

.toolbar-inner {
	max-width: 1280px;
	margin: 0 auto;
}

.footer-inner>li {
	float: left;
	width: 16.6%;
}
.footer-inner>li>a {
	font-size: 18px;
	margin-bottom: 10px;
}

.footer-inner .subMenu ul {
	margin: 10px 0;
	padding: 0 30px 0 0;
}


