/*

RadTreeView Sunset skin

* For notes on the CSS class names, please check RadTreeView common skin file *

*/

/* general styles */

.RadTreeView_Sunset,
.RadTreeView_Sunset a.rtIn,
.RadTreeView_Sunset .rtEdit .rtIn input
{
	font:11px arial,verdana,sans-serif;
	color:#272522;
	line-height:1.273em;
}

.RadTreeView_Sunset .rtTop, 
.RadTreeView_Sunset .rtMid, 
.RadTreeView_Sunset .rtBot
{
	padding: 0 0 0 23px;
}

.RadTreeView_Sunset .rtPlus, 
.RadTreeView_Sunset .rtMinus
{
	margin:4px 9px 0 -20px;
	width:11px;
	height:11px;
}

.RadTreeView_Sunset .rtPlus
{
	background: transparent url('Images/PlusMinus.gif') no-repeat 0 0;
}

.RadTreeView_Sunset .rtMinus
{
	background: transparent url('Images/PlusMinus.gif') no-repeat 0 -11px;
}

.RadTreeView_Sunset .rtSp
{
	height:18px;
}

.RadTreeView_Sunset .rtChk
{
	margin: 0 2px;
	padding:0;
	width:13px;
	height:13px;
}

.RadTreeView_Sunset .rtIn
{
	margin-left:0;
	padding: 0;
	border: solid 1px transparent;
}

/* endof general styles */
/*Three state checkboxes*/

.RadTreeView_Sunset .rtIndeterminate
{
    background: transparent url(Images/TriState.gif) no-repeat 0 -26px;
}

.RadTreeView_Sunset .rtChecked
{
    background: transparent url(Images/TriState.gif) no-repeat 0 0;
}

.RadTreeView_Sunset .rtUnchecked
{
    background: transparent url(Images/TriState.gif) no-repeat 0 -13px ;
}

/* node states */

.RadTreeView_Sunset .rtHover .rtIn
{
	color:#d55a17;
	background:#fdd2b8 url('Images/ItemBg.gif') repeat-x 0 0;
	border: 1px solid #d07052;
	padding: 0;
}

.RadTreeView_Sunset .rtSelected .rtIn
{
	color:#fff;
	background:#f0efed url('Images/ItemBg.gif') repeat-x 0 -50px;
	border: 1px solid #51473b;
	padding: 0;
}

.RadTreeView_Sunset_disabled .rtIn,
.RadTreeView_Sunset .rtDisabled .rtIn
{
	color:#ccc;
}

.RadTreeView_Sunset .rtSelected .rtLoadingBelow
{
	color: #000;
}

/* endof node states */


/* in-line editing */

.RadTreeView_Sunset .rtLI .rtEdit .rtIn
{
	border:1px solid #d07052;
	padding: 0;
	height:1.2em;
	background: #fff;
}

.RadTreeView_Sunset .rtEdit .rtIn input
{
	height:1em;
	line-height:1em;
	border:0;
	margin:0;
	padding:0;
	background:transparent;
}

/* endof in-line editing */


/* drop targets */

.rtDropAbove_Sunset,
.rtDropBelow_Sunset
{
    border: 1px dotted black;
    font-size: 3px;
    line-height: 3px;
    height: 3px;
}

.rtDropAbove_Sunset
{
    border-bottom: 0;
}

.rtDropBelow_Sunset
{
    border-top: 0;
}

/* endof drop targets */


/* node lines */

.RadTreeView_Sunset .rtLines .rtLI,
.RadTreeView_Sunset .rtLines .rtFirst .rtUL
{
	background:url('Images/NodeSpan.gif') repeat-y 0 0;
}
.RadTreeView_Sunset_rtl .rtLines .rtLI,
.RadTreeView_Sunset_rtl .rtLines .rtFirst .rtUL
{
	background:url('Images/NodeSpan_rtl.gif') repeat-y 100% 0;
}

.RadTreeView_Sunset .rtLines .rtFirst
{
    background:url('Images/FirstNodeSpan.gif') no-repeat 0 1.273em;
}

.RadTreeView_Sunset_rtl .rtLines .rtFirst
{
    background:url('Images/FirstNodeSpan_rtl.gif') no-repeat 100% 1.273em;
}

.RadTreeView_Sunset .rtLines .rtFirst .rtUL
{
	background:url('Images/FirstNodeSpan.gif') repeat-y 0 1.273em;
}

.RadTreeView_Sunset_rtl .rtLines .rtFirst .rtUL
{
	background:url('Images/FirstNodeSpan_rtl.gif') repeat-y 100% 1.273em;
}

.RadTreeView_Sunset .rtLines .rtLast,
.RadTreeView_Sunset .rtLines .rtLast .rtUL
{
	background:none;
}

.RadTreeView_Sunset .rtLines .rtTop
{
	background:url('Images/TopLine.gif') 0 0 no-repeat;
}
.RadTreeView_Sunset_rtl .rtLines .rtTop
{
	background:url('Images/TopLine_rtl.gif') 100% 0 no-repeat;
}

.RadTreeView_Sunset .rtLines .rtLast .rtTop
{
	background:url('Images/SingleLine.gif') 0 0 no-repeat;
}

.RadTreeView_Sunset_rtl .rtLines .rtLast .rtTop
{
	background:url('Images/SingleLine_rtl.gif') 100% 0 no-repeat;
}

.RadTreeView_Sunset .rtLines .rtMid
{
	background:url('Images/MiddleLine.gif') 0 0 no-repeat;
}
.RadTreeView_Sunset_rtl .rtLines .rtMid
{
	background:url('Images/MiddleLine_rtl.gif') 100% 0 no-repeat;
}

.RadTreeView_Sunset .rtLines .rtBot
{
	background:url('Images/BottomLine.gif') 0 0 no-repeat;
}
.RadTreeView_Sunset_rtl .rtLines .rtBot
{
	background:url('Images/BottomLine_rtl.gif') 100% 0 no-repeat;
}

/* endof node lines */


/* rtl-specific styles */

/* firefox */
.RadTreeView_Sunset_rtl .rtPlus,
.RadTreeView_Sunset_rtl .rtMinus,
x:-moz-any-link
{
	margin-right:-11px;
	right:-13px;
}

.RadTreeView_Sunset_rtl .rtPlus,
.RadTreeView_Sunset_rtl .rtMinus,
x:-moz-any-link, x:default
{
	margin-right:0;
	right:-18px;
}

* html .RadTreeView_Sunset_rtl .rtPlus,
* html .RadTreeView_Sunset_rtl .rtMinus
{
	margin-right:-18px;
	right:0;
}

*+html .RadTreeView_Sunset_rtl .rtPlus,
*+html .RadTreeView_Sunset_rtl .rtMinus
{
	margin-right:-18px;
	right:0;
}

.RadTreeView_Sunset_rtl .rtTop,
.RadTreeView_Sunset_rtl .rtMid, 
.RadTreeView_Sunset_rtl .rtBot
{
	padding: 0 20px 2px 0;
	margin:0;
}

/* endof rtl-specific styles */


/* hacks for Opera & Safari */
@media screen and (min-width:550px)
{
	/* fixes for opera (changes the paddings/margins automatically in rtl mode) */

	html:first-child .RadTreeView_Sunset_rtl .rtPlus,
	html:first-child .RadTreeView_Sunset_rtl .rtMinus,
	html:first-child .RadTreeView_Sunset_rtl .rtFirst .rtLI .rtPlus,
	html:first-child .RadTreeView_Sunset_rtl .rtFirst .rtLI .rtMinus
	{
		margin:4px 6px 0 -18px;
		right:0;
	}
	
	/* fix for safari bug (inline-block positioned elements in rtl mode get no width) */
	:root .RadTreeView_Sunset_rtl .rtPlus,
	:root .RadTreeView_Sunset_rtl .rtMinus
	{
		right: 0;
		margin-right: -18px;
		margin-left: 7px;
	}
}

/* endof hacks */
.RadTreeView_Sunset_designtime .rtPlus,
.RadTreeView_Sunset_designtime .rtMinus
{
	left:3px;
	top:4px;
}