<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResourcesWebApi.Properties.Settings.justfyty_justfoConnectionString"
            connectionString="Data Source=RIAAN-PC;Initial Catalog=justfyty_justfo;Persist Security Info=True;User ID=sa;Password=burnm3z0r"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>