.edn_widget_filtermenu_box.Red > h1.edn_module_title {
  background: url(../images/red/module_title_background.png) repeat-x #b30000;
}
.edn_widget_filtermenu_box.Red > h1.edn_module_title span {
  color: white;
  text-shadow: none;
}
