/*--------- CSS Reset for Mobile ----------*/
@media handheld, only screen and (max-width: 767px) {
body {-webkit-text-size-adjust:none;}
.skin_width,body{width:100%;min-width:0;}
.floatl, .floatr{ float: none;}

/*-------- design style --------*/
.currentdate_style { display:none; padding:0; }
.user_style { float:none; text-align:center; padding:0;  position:absolute; top:0; left:0; width:98%; margin:0 1%;}
.search_style { display:none; }
#Login{ float:none;}

.logo_style { float:none; text-align:center; padding:10px; }
.skin_menu { float:none; background:#FFFFFF; padding:5px 0 0 0 ; }
.menu_style { width:98%; margin:0 1%; padding:0 0 5px 0; }
.banner_style { background:#F5F5F5; padding:5px 0; }
.skin_header_bottom { background:none; height:0; }

/*--------- Menu style ----------*/
#standardMenu { width:auto;}
#standardMenu .rootMenu li{width:100%; float:none; margin-bottom:2px; text-align:left }
#standardMenu li.back{background:none; }
#standardMenu li.back .left{background:none; height:0; margin-left:0;}
#standardMenu li.back .center{background:none; height:0; margin:0; }

#standardMenu .rootMenu li a,#standardMenu ul li.last a{display:block; background:url(../images/mobile_menu_light.png) no-repeat top, url(../images/mobile_menu_bg.png) repeat-x center top; color:#ffffff; white-space:nowrap; font-size:12px; font-weight:bold; text-transform:uppercase; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; padding:0; }
#standardMenu .rootMenu li.selected a,#standardMenu .rootMenu li.breadcrumb a,#standardMenu .rootMenu li.rmHover a,#standardMenu .rootMenu li a:hover, #standardMenu .rootMenu li:hover a{ text-decoration:none; background:url(../images/mobile_menu_light.png) no-repeat top, url(../images/mobile_menu_sel.png) repeat-x center top; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;}

#standardMenu .rootMenu li a span {display:block; padding:0 20px; margin-right:0; height:38px; line-height:38px; position:relative; }
#standardMenu .rootMenu li.selected a span,#standardMenu .rootMenu li.breadcrumb a span,#standardMenu .rootMenu li.rmHover a span,  #standardMenu .rootMenu li:hover a span, #standardMenu .rootMenu li a:hover span{ text-decoration:none; background:none; margin:0; }
#standardMenu .navarrow{ position:absolute; width:60px; height:35px; right:0px; background:url(../images/down2.png) no-repeat center center;}

/*-- submenu --*/
#standardMenu .subMenu{ background:none; left:0; position:static; width:auto; border:1px solid #444; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-top:1px; }
#standardMenu .subMenu li{ float:none; clear:both; width:100%; padding:0; margin:0; filter:Alpha(Opacity=100); opacity:1;}
#standardMenu .subMenu li.item a{ border-bottom: solid 1px #666; margin:0; padding:0; height:auto; background:#4C4C4C; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; filter:Alpha(Opacity=100); opacity:1; }
#standardMenu .subMenu li.haschild > a { background:#4C4C4C;}
#standardMenu .subMenu li.item a span{ padding:0 35px 0 15px; color:#FFFFFF; }
#standardMenu .subMenu li.selected > a span, #standardMenu .subMenu li.breadcrumb > a span, #standardMenu .subMenu li.item a:hover span { background:#930916; color:#FFFFFF; cursor:pointer; }
#standardMenu .subMenu li.selected.haschild > a span,#standardMenu .subMenu li.breadcrumb.haschild > a span, #standardMenu .subMenu li.item.haschild > a:hover span { background: #930916; }

#standardMenu .subMenuRight{ background:none; display:block; position:static; width:auto; margin:0; border:none; top:0; -webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
#standardMenu .subMenuRight li.last > a{ border-bottom: solid 1px #666;}
#standardMenu .subMenuRight li.item a span{ display:block; background:none; font-size:12px; font-weight:normal; white-space:nowrap; height:35px; line-height:35px; padding:0 35px 0 25px; text-transform:none; }
#standardMenu .subMenu li.rmhover > .subMenuRight{ display:block; }

/*--------- pane style ----------*/
.bannerpane { padding:0 0 25px 0;}

.h_toppane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_topleftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_topcenterpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_toprightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_contentpane{width:auto;clear:both;padding:5px 0;margin:0;}
.h_leftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_rightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_contentpane2{width:auto;clear:both;padding:5px 0;margin:0;}
.h_bottomleftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_bottomcenterpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_bottomrightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.h_bottompane {width:auto;clear:both;padding:5px 0;margin:0;}

.i1_contentpane {width:auto;clear:both;padding:5px 0;margin:0;}
.i1_leftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.i1_rightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.i1_bottompane {width:auto;clear:both;padding:5px 0;margin:0;}

.i2_contentpane {width:auto;clear:both;padding:5px 0;margin:0;}
.i2_leftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.i2_rightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.i2_bottompane {width:auto;clear:both;padding:5px 0;margin:0;}

.nb_toppane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_topleftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_topcenterpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_toprightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_contentpane{width:auto;clear:both;padding:5px 0;margin:0;}
.nb_leftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_rightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_contentpane2{width:auto;clear:both;padding:5px 0;margin:0;}
.nb_bottomleftpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_bottomcenterpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_bottomrightpane {width:auto;clear:both;padding:5px 0;margin:0;}
.nb_bottompane {width:auto;clear:both;padding:5px 0;margin:0;}
}
