.RankingList_Default .article_toplist{
	padding:0px!important;
	margin:0px;
}
.RankingList_Default .article_toplist li{
	list-style:none;
	border-top:1px solid #ccc;
	padding:8px 0px;
}
.RankingList_Default .article_toplist li:first-child{
	padding-top:0px;
	border-top:none;
}
.RankingList_Default .article_toplist li .post_thum{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.RankingList_Default .article_toplist li .post_thum a{
    
}
.RankingList_Default .article_toplist li .post_thum img{
	display: block;
	transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	max-width:100%;
}
.RankingList_Default .article_toplist li .post_thum img:hover{
	opacity: 0.6;
}
.RankingList_Default .article_toplist .post_summary{
	margin:5px 0px;
	clear:both;
}
.RankingList_Default .article_toplist li .post_title{
	font-weight:normal;
	font-size:14px;
	line-height:18px;
	margin:5px 0px;
}
.RankingList_Default .RankingList_Default .article_toplist li .post_title,
.RankingList_Default .RankingList_Default .article_toplist li .post_date,
.RankingList_Default .RankingList_Default .article_toplist li .post_more{
	color: #717171;
	margin:5px 0px;
}
.RankingList_Default .RankingList_Default .article_toplist li .post_date{
	font-style:italic;
}
.RankingList_Default .article_toplist li .post_title a,
.RankingList_Default .article_toplist li .post_date a,
.RankingList_Default .article_toplist li .post_more a{
	color: #111;
	text-decoration:none;
}
.RankingList_Default .article_toplist li .post_title a:hover,
.RankingList_Default .article_toplist li .post_date a:hover,
.RankingList_Default .article_toplist li .post_more a:hover{
	text-decoration:underline;
}

@media (max-width: 767px) {
	.RankingList_Default .article_toplist li .post_thum{
		float:none;
		margin-right:0px;
		margin-bottom:10px;
	}	
}