.edn_widget_filtermenu_box.Blue > h2.edn_module_title {
  background-image: url(../images/blue/gradient_title_bg.png);
  background-color: #095691;
}
.edn_widget_filtermenu_box.Blue .EDN_button-wrapper .edn_filter_button {
  background-image: url(../images/blue/button-bg.png);
  background-color: #0b5892;
}
