.edn_widget_filtermenu_box.Green > h2.edn_module_title {
  background-image: url(../images/green/gradient_title_bg.png);
  background-color: #94c947;
}
.edn_widget_filtermenu_box.Green .EDN_button-wrapper .edn_filter_button {
  background-image: url(../images/green/button-bg.png);
  background-color: #7ebf0d;
}
