.edn_widget_filtermenu_box.Red > h2.edn_module_title {
  background-image: url(../images/red/gradient_title_bg.png);
  background-color: #be0202;
}
.edn_widget_filtermenu_box.Red .EDN_button-wrapper .edn_filter_button {
  background-image: url(../images/red/button-bg.png);
  background-color: #bf040a;
}
